*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Manrope;
}

body{
    background: linear-gradient(#0F172A,#1E293B);
}
.container{
    width: 90%;
    margin: 0 auto;
}
.studentportal{
    margin: 20px 0;
}
.header{
    padding: 15px 0;
}
.heading{
    color: #FFFFFF;
}
.pagechangerbtns{
    padding: 10px 0;
}
.btn-changepage{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #0F172A;
    color: #FFFFFF;
    width: 315px;
    height: 40px;
    border: 1.5px solid #06B6D4;
}
.btn-changepage:hover{
    background: linear-gradient(#06B6D4,#6366F1)
}
.form{
    background-color: #1E293BE5;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    color: #FFFFFF;
    border-top: 2px solid #03befb;
}
input,select{
    width: 98%;
    padding: 10px;
    background-color: #0F172A;
    border: 1px solid #334155;
    border-radius: 5px;
    color: #64748B;
    margin: 10px 0;
    outline: none;
}
input::placeholder {
    color: #64748B;
}

input[type="radio"] {
    accent-color: #06B6D4;
    border-color: #64748B;
}
.submit-clear-btn{
    padding: 10px 35px;
    border-radius: 5px;
    border: 1.5px solid #64748B;
    background-color: transparent;
    color: #FFFFFF;
}
.submit-clear-btn:hover{
    background-color: #03befb;
}
.studentform{
    display: flex;
}
.form-overall{
    margin: 0 auto;
}
.systemonline{
    color: #FFFFFF;
    background-color: #334155;
    padding: 15px 60px;
    border: 1px solid #64748B;
    border-radius: 10px;
    margin: 0 0 10px 0;
}
.studentcourse{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.students{
    background-color: #334155;
    border: 1px solid #64748B;
    border-radius: 10px;
    padding: 10px 23px;
    margin-bottom: 5px;
}
.cousre{
    background-color: #334155;
    border: 1px solid #64748B;
    border-radius: 10px;
    padding: 10px 23px;
    margin-bottom: 5px;
}

@media (min-width: 1000px) and (max-width:1200px) { 
    .form{
        width: 67%;
    }
}
@media (min-width: 800px) and (max-width:1000px) { 
    .btn-changepage{
            width: 290px;
            font-size: medium;
    }
    .form{
        width: 60%;
    }
    .heading{
        font-size: xx-large;
    }
}
@media (min-width: 650px) and (max-width:800px) { 
    .btn-changepage{
            width: 240px;
            font-size: small;
    }
    .form{
        width: 50%;
    }
    .submit-clear-btn{
       font-size: xx-small;
    }
    .heading{
        font-size:x-large;
    }
}
@media (min-width: 375px) and (max-width:650px) { 
    .pagechangerbtns{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .btn-changepage{
        width: 180px;
        height: 30px;
        font-size: smaller;
    }
    .form{
        margin: 0 auto;
        width: 100%;
        font-size:small;
    }
    .studentform{
        flex-direction: column;
        gap: 15px;
    }
    .submit-clear-btn{
        width: 80%;
        font-size: x-small;
        margin: 5px 0;
    }
    .sumbitandclear{
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        font-size: larger;
    }
    .form-heading{
        font-size: larger;
    }

}